 body {
    background-color: beige
}

#farm {
     display: flex;
    justify-content: center;
    justify-content: space-between; 
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold;
    padding: 10px;
    height: 150px;
    width: 150px;
    background-color: lightgray;
    border: solid black 4px;
    margin: 10px;
    border-radius: 50%;
    margin-right: auto;
    margin-bottom: 4px;
    margin-left: auto;

   
  } 
  
  .makeCat {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .catObject {
    font: bold;
    padding: 10px;
    height: 150px;
    width: 150px;
    background-color: lightyellow;
    border: solid black 4px;
    margin: 10px;
    border-radius: 50%;
     margin-right: auto;
    margin-bottom: 4px;
    margin-left: auto;
  }

  .makeDog {

    display: flex;
    align-items: center;
    justify-content: center; 
  }


  .dogObject {
    font: bold;
    padding: 10px;
    height: 150px;
    width: 150px;
    background-color: lightgreen;
    border: solid black 4px;
    margin: 10px;
    border-radius: 50%;
     margin-right: auto;
    margin-bottom: 4px;
    margin-left: auto;

  }

  .makeHorse {

    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .horseObject {
    font: bold;
    padding: 10px;
    height: 150px;
    width: 150px;
    background-color: lightskyblue;
    border: solid black 4px;
    margin: 10px;
    border-radius: 50%;
     margin-top: auto;
    margin-bottom: 4px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  

  .sheepObject {
    
  .makeSheep {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .sheepObject {
    font: bold;
    padding: 10px;
    height: 150px;
    width: 150px;
    background-color: lightpink;
    border: solid black 4px;
    margin: 10px;
    border-radius: 50%;
     margin-top: auto;
    margin-bottom: 4px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
  } 