html, body {
    height: 100%;
}
body > * {
    border: 1px solid #000;
}
body > header, body > footer {
    background: #444;
    color: #eee;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

main {
    background: beige;
}
main > .content {
    background: pink;
}
main > .content > main > article {
display:flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
font-weight: bold;
background-color: white;
border: 2px solid black;
border-radius: 20%; 
height: 200px;
width: 200px;
padding: 10px;
margin-top: auto;
margin-right: auto;
margin: 5px;
margin-left: auto;
}
main > aside {
    color: beige;
    background:blueviolet;
    height: 100%
}
main > nav {
    color: beige;
    background: blueviolet;
    height: 100%
}
.deck {
    background: #0fa0ce;
}
.deck:first-child {
    border-bottom: 1px solid black;
}

.centerWords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}