
main {
    overflow: hidden;
    height: calc(100% - 140px);
}

main > .content {
    height: 500px;
}

main > nav {
    float: left;
    height: 500px;
    width: 250px;
}
main > aside {
    float: right;
    height: 500px;
    width: 250px;
}

.deck {
    height: 50px;
}